.popup__input-error {
    position: absolute;
    top: 40px;
    opacity: 0;
    visibility: visible;
    color: #FF0000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
