.card__remove {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 19px;
    border: none;
    background: url("../../../images/Group.svg") no-repeat center;
    transition: 0.3s;
    cursor: pointer;
}