.hamburger{
    display: none;
}

@media all and (min-width: 280px) and (max-width: 700px) {
    .hamburger {
        display: block;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
    }
}